### Required Libraries

In [1]:
!pip install ipython-sql
!pip install sqlalchemy-trino
!pip install pandas

Collecting ipython-sql
  Using cached ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (1.4.26)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Using cached sqlparse-0.4.2-py3-none-any.whl (42 kB)
Collecting prettytable<1
  Using cached prettytable-0.7.2-py3-none-any.whl
Requirement already satisfied: ipython>=1.0 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (58.3.0)
Requirement already satisfied: pygments in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: backcall in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.21)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.2
Collecting sqlalchemy-trino
  Using cached sqlalchemy_trino-0.5.0-py3-none-any.whl (6.8 kB)
Collecting trino[sqlalchemy]>=0.310
  Using cached trino-0.315.0-py3-none-any.whl (37 kB)
Requirement already satisfied: pytz in /opt/conda/lib/python3.9/site-packages (from trino[sqlalchemy]>=0.310->sqlalchemy-trino) (2021.3)
Requirement already satisfied: requests in /opt/conda/lib/python3.9/site-packages (from trino[sqlalchemy]>=0.310->sqlalchemy-trino) (2.26.0)
Requirement already satisfied: sqlalchemy~=1.3 in /opt/conda/lib/python3.9/site-packages (from trino[sqlalchemy]>=0.310->sqlalchemy-trino) (1.4.26)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy~=1.3->trino[sqlalchemy]>=0.310->sqlalchemy-trino) (1.1.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests->trino[sqlalchemy]>=0.310->sqlalchemy-trino) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests->trino[sqlalchemy]>=0.310->sqlalchemy-trino) (3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests->trino[sqlalchemy]>=0.310->sqlalchemy-trino) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests->trino[sqlalchemy]>=0.310->sqlalchemy-trino) (2.0.0)
Installing collected packages: trino, sqlalchemy-trino
Successfully installed sqlalchemy-trino-0.5.0 trino-0.315.0
Collecting pandas
  Using cached pandas-1.4.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas) (2021.3)
Collecting numpy>=1.18.5
  Using cached numpy-1.23.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.23.2 pandas-1.4.3

### Configure the connections

url: trino://user:password@host:port/catalog

In [1]:
%load_ext sql
%sql trino://starburst_service@localhost:8080/tpch

In [2]:
%config SqlMagic.autocommit=False
%sql show CATALOGS

 * trino://starburst_service@localhost:8080/tpch
Done.

[('jmx',), ('memory',), ('system',), ('tpcds',), ('tpch',)]

### Simple Queries

In [3]:
%%sql

show tables from tpch.tiny

 * trino://starburst_service@localhost:8080/tpch
Done.

[('customer',),
 ('lineitem',),
 ('nation',),
 ('orders',),
 ('part',),
 ('partsupp',),
 ('region',),
 ('supplier',)]

In [4]:
result = %sql select * from tpch.tiny.orders limit 1000

 * trino://starburst_service@localhost:8080/tpch
Done.

In [5]:
%%sql 

select * from tpch.tiny.orders limit 10

 * trino://starburst_service@localhost:8080/tpch
Done.

[(29989, 430, 'F', 28062.96, '1994-07-25', '4-NOT SPECIFIED', 'Clerk#000000701', 0, 'le. final accounts of the furiously final t'),
 (29990, 256, 'F', 74106.76, '1993-11-12', '1-URGENT', 'Clerk#000000779', 0, 'nst the slyly regular foxes haggle alongside of the special, unusual forge'),
 (29991, 937, 'F', 164767.44, '1992-10-06', '5-LOW', 'Clerk#000000036', 0, 'e the fluffily ironic requests. regular'),
 (30016, 683, 'F', 272201.91, '1994-01-04', '1-URGENT', 'Clerk#000000962', 0, 'e the accounts. sly'),
 (30017, 1351, 'O', 235781.23, '1997-12-28', '4-NOT SPECIFIED', 'Clerk#000000557', 0, 'ss the regular instructions. fluffily express pinto beans c'),
 (30018, 661, 'O', 63181.38, '1997-01-13', '5-LOW', 'Clerk#000000384', 0, 'ic accounts. blithely ironic requests sho'),
 (30019, 1349, 'O', 344173.12, '1997-10-27', '5-LOW', 'Clerk#000000346', 0, 'ets! bravely express packages cajole fluffily acros'),
 (30020, 41, 'O', 170338.18, '1997-07-29', '3-MEDIUM', 'Clerk#000000011', 0, 'furiously. quickly regular foxes wake slyly slyly final deposits. '),
 (30021, 1252, 'F', 73044.5, '1993-03-13', '1-URGENT', 'Clerk#000000727', 0, 'epitaphs after the slyly special requests haggle carefully across the fur'),
 (30022, 271, 'O', 118580.74, '1996-05-08', '5-LOW', 'Clerk#000000750', 0, 'es along the even requests sleep blithely final requests. asymptotes engage ag')]

### How to create a Pandas DataFrame

In [6]:
df = result.DataFrame()

In [7]:
df

,orderkey,custkey,orderstatus,totalprice,orderdate,orderpriority,clerk,shippriority,comment
0,1,370,O,172799.49,1996-01-02,5-LOW,Clerk#000000951,0,nstructions sleep furiously among
1,2,781,O,38426.09,1996-12-01,1-URGENT,Clerk#000000880,0,"foxes. pending accounts at the pending, silen..."
2,3,1234,F,205654.30,1993-10-14,5-LOW,Clerk#000000955,0,sly final accounts boost. carefully regular id...
3,4,1369,O,56000.91,1995-10-11,5-LOW,Clerk#000000124,0,"sits. slyly regular warthogs cajole. regular, ..."
4,5,445,F,105367.67,1994-07-30,5-LOW,Clerk#000000925,0,quickly. bold deposits sleep slyly. packages u...
...,...,...,...,...,...,...,...,...,...
995,3972,1225,F,2750.56,1994-04-21,3-MEDIUM,Clerk#000000049,0,"y regular requests haggle quickly. pending, ex..."
996,3973,1018,F,112002.24,1992-03-24,4-NOT SPECIFIED,Clerk#000000114,0,somas according to the quickly even instructio...
997,3974,931,O,74431.82,1996-03-05,4-NOT SPECIFIED,Clerk#000000938,0,deposits are furiously beneath the bl
998,3975,1175,O,57733.07,1995-04-11,3-MEDIUM,Clerk#000000016,0,"ts. regular, regular Tiresias play furiously. ..."
999,4000,697,F,142251.94,1992-01-04,5-LOW,Clerk#000000339,0,le carefully closely even pinto beans. regular...

### ...or simply convert the result of a cell to a dataframe

In [8]:
data = Out[16].DataFrame()
data

KeyError: 16

### More complex joins

In [12]:
%%sql

SELECT
    g.name,
    mktsegment,
    count(o.orderkey) total_orders,
    count(s.suppkey) suppliers
FROM
    tpch.tiny.lineitem l
    INNER JOIN tpch.tiny.orders o ON (l.orderkey = o.orderkey)
    INNER JOIN tpch.tiny.customer c ON (o.custkey = c.custkey)
    INNER JOIN tpch.tiny.supplier s ON (s.suppkey = l.suppkey)
    INNER JOIN tpch.tiny.nation g ON (g.nationkey = c.nationkey)
GROUP BY
    1,
    2

 * trino://starburst_service@localhost:8080/tpch
Done.

[('ARGENTINA', 'FURNITURE', 471, 471),
 ('JAPAN', 'MACHINERY', 858, 858),
 ('UNITED STATES', 'FURNITURE', 437, 437),
 ('PERU', 'FURNITURE', 579, 579),
 ('JAPAN', 'HOUSEHOLD', 389, 389),
 ('ARGENTINA', 'BUILDING', 799, 799),
 ('PERU', 'BUILDING', 674, 674),
 ('GERMANY', 'HOUSEHOLD', 709, 709),
 ('BRAZIL', 'HOUSEHOLD', 690, 690),
 ('VIETNAM', 'HOUSEHOLD', 412, 412),
 ('INDONESIA', 'AUTOMOBILE', 582, 582),
 ('SAUDI ARABIA', 'HOUSEHOLD', 811, 811),
 ('MOROCCO', 'AUTOMOBILE', 342, 342),
 ('IRAQ', 'BUILDING', 741, 741),
 ('ROMANIA', 'BUILDING', 512, 512),
 ('CHINA', 'FURNITURE', 521, 521),
 ('IRAN', 'FURNITURE', 846, 846),
 ('CHINA', 'MACHINERY', 150, 150),
 ('INDIA', 'BUILDING', 239, 239),
 ('FRANCE', 'AUTOMOBILE', 335, 335),
 ('JORDAN', 'HOUSEHOLD', 610, 610),
 ('INDONESIA', 'HOUSEHOLD', 511, 511),
 ('CHINA', 'BUILDING', 292, 292),
 ('IRAQ', 'MACHINERY', 140, 140),
 ('ROMANIA', 'FURNITURE', 511, 511),
 ('CANADA', 'BUILDING', 643, 643),
 ('IRAN', 'HOUSEHOLD', 356, 356),
 ('FRANCE', 'MACHINERY', 485, 485),
 ('EGYPT', 'HOUSEHOLD', 402, 402),
 ('CHINA', 'AUTOMOBILE', 680, 680),
 ('GERMANY', 'MACHINERY', 180, 180),
 ('KENYA', 'HOUSEHOLD', 466, 466),
 ('MOZAMBIQUE', 'AUTOMOBILE', 681, 681),
 ('ROMANIA', 'MACHINERY', 615, 615),
 ('PERU', 'HOUSEHOLD', 183, 183),
 ('RUSSIA', 'AUTOMOBILE', 208, 208),
 ('ALGERIA', 'AUTOMOBILE', 547, 547),
 ('INDIA', 'HOUSEHOLD', 604, 604),
 ('BRAZIL', 'BUILDING', 579, 579),
 ('ETHIOPIA', 'HOUSEHOLD', 336, 336),
 ('ETHIOPIA', 'FURNITURE', 516, 516),
 ('IRAN', 'AUTOMOBILE', 978, 978),
 ('ETHIOPIA', 'AUTOMOBILE', 659, 659),
 ('RUSSIA', 'BUILDING', 608, 608),
 ('SAUDI ARABIA', 'FURNITURE', 437, 437),
 ('JORDAN', 'BUILDING', 646, 646),
 ('MOZAMBIQUE', 'BUILDING', 580, 580),
 ('ETHIOPIA', 'BUILDING', 530, 530),
 ('IRAN', 'BUILDING', 586, 586),
 ('ROMANIA', 'HOUSEHOLD', 431, 431),
 ('INDIA', 'FURNITURE', 433, 433),
 ('FRANCE', 'HOUSEHOLD', 161, 161),
 ('FRANCE', 'BUILDING', 313, 313),
 ('ALGERIA', 'MACHINERY', 468, 468),
 ('FRANCE', 'FURNITURE', 194, 194),
 ('SAUDI ARABIA', 'AUTOMOBILE', 234, 234),
 ('CANADA', 'HOUSEHOLD', 542, 542),
 ('INDONESIA', 'BUILDING', 379, 379),
 ('VIETNAM', 'MACHINERY', 417, 417),
 ('PERU', 'AUTOMOBILE', 205, 205),
 ('ROMANIA', 'AUTOMOBILE', 535, 535),
 ('KENYA', 'FURNITURE', 789, 789),
 ('MOZAMBIQUE', 'HOUSEHOLD', 463, 463),
 ('IRAQ', 'AUTOMOBILE', 501, 501),
 ('JORDAN', 'AUTOMOBILE', 156, 156),
 ('GERMANY', 'FURNITURE', 229, 229),
 ('INDIA', 'AUTOMOBILE', 476, 476),
 ('UNITED KINGDOM', 'AUTOMOBILE', 497, 497),
 ('SAUDI ARABIA', 'BUILDING', 790, 790),
 ('CANADA', 'AUTOMOBILE', 1049, 1049),
 ('EGYPT', 'FURNITURE', 749, 749),
 ('EGYPT', 'MACHINERY', 625, 625),
 ('CANADA', 'MACHINERY', 545, 545),
 ('UNITED KINGDOM', 'FURNITURE', 442, 442),
 ('UNITED KINGDOM', 'BUILDING', 777, 777),
 ('VIETNAM', 'AUTOMOBILE', 505, 505),
 ('EGYPT', 'BUILDING', 602, 602),
 ('JAPAN', 'BUILDING', 549, 549),
 ('IRAQ', 'FURNITURE', 370, 370),
 ('BRAZIL', 'AUTOMOBILE', 645, 645),
 ('JAPAN', 'FURNITURE', 430, 430),
 ('PERU', 'MACHINERY', 232, 232),
 ('UNITED KINGDOM', 'MACHINERY', 478, 478),
 ('MOROCCO', 'MACHINERY', 385, 385),
 ('MOZAMBIQUE', 'MACHINERY', 640, 640),
 ('RUSSIA', 'MACHINERY', 261, 261),
 ('EGYPT', 'AUTOMOBILE', 567, 567),
 ('RUSSIA', 'FURNITURE', 586, 586),
 ('CHINA', 'HOUSEHOLD', 184, 184),
 ('MOROCCO', 'FURNITURE', 283, 283),
 ('JAPAN', 'AUTOMOBILE', 421, 421),
 ('UNITED KINGDOM', 'HOUSEHOLD', 375, 375),
 ('UNITED STATES', 'HOUSEHOLD', 358, 358),
 ('INDONESIA', 'MACHINERY', 552, 552),
 ('ARGENTINA', 'MACHINERY', 417, 417),
 ('UNITED STATES', 'MACHINERY', 216, 216),
 ('JORDAN', 'MACHINERY', 313, 313),
 ('BRAZIL', 'FURNITURE', 309, 309),
 ('GERMANY', 'AUTOMOBILE', 569, 569),
 ('KENYA', 'BUILDING', 704, 704),
 ('IRAQ', 'HOUSEHOLD', 567, 567),
 ('MOROCCO', 'HOUSEHOLD', 719, 719),
 ('JORDAN', 'FURNITURE', 624, 624),
 ('ALGERIA', 'BUILDING', 887, 887),
 ('VIETNAM', 'BUILDING', 570, 570),
 ('MOROCCO', 'BUILDING', 834, 834),
 ('INDONESIA', 'FURNITURE', 605, 605),
 ('ARGENTINA', 'HOUSEHOLD', 250, 250),
 ('BRAZIL', 'MACHINERY', 620, 620),
 ('ALGERIA', 'FURNITURE', 550, 550),
 ('IRAN', 'MACHINERY', 186, 186),
 ('RUSSIA', 'HOUSEHOLD', 315, 315),
 ('UNITED STATES', 'BUILDING', 559, 559),
 ('INDIA', 'MACHINERY', 394, 394),
 ('VIETNAM', 'FURNITURE', 555, 555),
 ('KENYA', 'AUTOMOBILE', 124, 124),
 ('GERMANY', 'BUILDING', 515, 515),
 ('ALGERIA', 'HOUSEHOLD', 321, 321),
 ('SAUDI ARABIA', 'MACHINERY', 359, 359),
 ('ARGENTINA', 'AUTOMOBILE', 183, 183),
 ('CANADA', 'FURNITURE', 310, 310),
 ('KENYA', 'MACHINERY', 286, 286),
 ('UNITED STATES', 'AUTOMOBILE', 287, 287),
 ('ETHIOPIA', 'MACHINERY', 327, 327),
 ('MOZAMBIQUE', 'FURNITURE', 211, 211)]

In [18]:
#result = %sql select * from tpch.tiny.orders limit 10
#df1 = result.DataFrame()
#df1
result = %sql select * from tpch.tiny.lineitem limit 10
df2 = result.DataFrame() 
df2

 * trino://starburst_service@localhost:8080/tpch
Done.

,orderkey,partkey,suppkey,linenumber,quantity,extendedprice,discount,tax,returnflag,linestatus,shipdate,commitdate,receiptdate,shipinstruct,shipmode,comment
0,29989,1074,10,1,28.0,27301.96,0.05,0.01,R,F,1994-10-08,1994-10-06,1994-10-19,COLLECT COD,AIR,"metimes. express, final accoun"
1,29989,1984,73,2,1.0,1885.98,0.02,0.01,R,F,1994-08-20,1994-09-02,1994-08-28,COLLECT COD,MAIL,s are carefully. packages boost at the re
2,29990,728,93,1,50.0,81436.00,0.09,0.00,R,F,1994-01-21,1994-01-05,1994-02-13,NONE,REG AIR,carefully carefully ironic acco
3,29991,1203,78,1,35.0,38647.00,0.02,0.05,R,F,1993-02-01,1992-11-06,1993-02-10,NONE,RAIL,ar requests. qu
4,29991,1375,14,2,39.0,49778.43,0.03,0.08,R,F,1992-12-14,1992-12-05,1992-12-18,COLLECT COD,AIR,quickly pending
5,29991,1094,65,3,41.0,40798.69,0.07,0.06,A,F,1992-12-26,1993-01-01,1992-12-31,TAKE BACK RETURN,MAIL,ress dolphins.
6,29991,1798,99,4,5.0,8498.95,0.10,0.05,R,F,1992-12-11,1992-12-23,1993-01-07,NONE,FOB,nder enticingly to the slow p
7,29991,1796,23,5,15.0,25466.85,0.08,0.05,R,F,1992-12-14,1992-11-05,1993-01-04,NONE,SHIP,ruthless pains. blithely unusual
8,30016,736,37,1,49.0,80199.77,0.09,0.07,R,F,1994-01-14,1994-04-04,1994-01-28,NONE,REG AIR,nts! quickly regular ideas haggle
9,30016,521,12,2,14.0,19901.28,0.02,0.05,R,F,1994-01-16,1994-03-28,1994-01-21,DELIVER IN PERSON,FOB,carefully unusual instructions wake furi

In [19]:
df1

,orderkey,custkey,orderstatus,totalprice,orderdate,orderpriority,clerk,shippriority,comment
0,44995,781,F,134013.09,1994-08-07,2-HIGH,Clerk#000000095,0,ackages are special accounts.
1,44996,824,O,117400.53,1996-10-20,2-HIGH,Clerk#000000230,0,ial forges sleep carefully across the slyly sil
2,44997,760,O,117234.60,1995-09-29,5-LOW,Clerk#000000659,0,haggle carefully. regular dolphins use blithel...
3,44998,1468,O,136183.56,1996-12-17,1-URGENT,Clerk#000000053,0,carefully ironic theodolites. carefully unusua...
4,44999,73,F,112103.63,1993-01-23,3-MEDIUM,Clerk#000000945,0,t the requests sleep against the furiously spe...
5,45024,971,O,207605.90,1998-05-19,2-HIGH,Clerk#000000756,0,quickly regular deposits cajole across the req...
6,45025,1441,P,202812.28,1995-04-12,2-HIGH,Clerk#000000140,0,r deposits. final deposits engage express plat...
7,45026,200,O,135378.15,1996-01-25,1-URGENT,Clerk#000000188,0,osits. furiously sly tithes about the packages...
8,45027,1135,F,58277.35,1992-09-13,3-MEDIUM,Clerk#000000840,0,lithely bold pinto beans above the slyly expre...
9,45028,103,O,125630.09,1996-03-05,3-MEDIUM,Clerk#000000579,0,furiously deposits. closely

In [20]:

  empDF.join(df1,df2("orderkey") ===  deptDF("orderkey"),"inner")
    .show(false)

SyntaxError: invalid syntax (1005475697.py, line 1)

In [21]:
import pandas as pd

In [22]:
pd.merge(df1,df2,on='orderkey')

Empty DataFrame
Columns: [orderkey, custkey, orderstatus, totalprice, orderdate, orderpriority, clerk, shippriority, comment_x, partkey, suppkey, linenumber, quantity, extendedprice, discount, tax, returnflag, linestatus, shipdate, commitdate, receiptdate, shipinstruct, shipmode, comment_y]
Index: []

[0 rows x 24 columns]